html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.page-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.main-navigation {
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
  display: flex;
  position: relative;
}
.container {
  margin:0 auto;
  max-width:1200px;
  padding:0 40px;
}
.main-header-logo {
  width: 138px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}
.site-navigation {
  margin: 0;
  width: 100%;
  height: 56px;
  list-style: none;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}
.site-navigation-item {
  min-width: 100px;
  padding:15px 60px;
}
.site-navigation-item:nth-child(2) {
  margin-right:auto; 
}
.site-navigation a {
  color: #000000;
  text-align: center;
  transition: all 0.10s linear;
}
.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}
.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}
.site-navigation-current a {
  color: #766357;
}
.city-view {
  position: relative;
  background-image: url("../img/backgroundphoto.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  max-width: 1200px;
  min-height: 465px;
  display: flex;
  padding: 0;
}
.city-view::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 57px;
  background-image: url("../img/main-bg-secondary.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.city-view img {
  margin: auto;
  margin-top: 60px;   
}
.reasons-header {
  margin: 0 auto;
  padding: 44px 0;
  max-width: 489px;
  text-align: center;
}
.reasons-header .slogan {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}
.reasons-title {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
.features-list,
.guideline-list {
  list-style: none;   
  margin: 0;
  padding: 0;
}
.features-list {
  display: flex;
  flex-direction: column;
}
.feature-item-wrapper {
  padding: 0;
  display: flex;
}
.feature-item.feature-item-large {
  text-align: center;
  color: #ffffff;
  padding:20px 40px;
  background-color: #81b3d2;
  margin: 0;
  min-width: 295px;
}
.feature-item-wrapper .img-wrap {
  height:225px ;
  width: 800px;
  overflow: hidden;
}
.feature-item.feature-item-large h3 {
  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
}
.feature-item h3 {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}
.features-list-small {
  width: 100%;
  min-height: 260px;
  display: flex;
  justify-content: space-between;
  background-color: #eeeeee;
  list-style: none;
  padding: 0;
}
.feature-item-small {   
  padding: 40px;
  min-width: 240px;
}
.feature-item-small:nth-child(2) {   
  min-width: 270px;
}
.guideline-list {
  width:100%;
  min-height: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}
.guideline-list.second-list {
  min-height: initial;
  background-color: #eeeeee;
}
.guideline-item {
  padding: 40px;
  text-align: center;
  width: 33.33%;
  min-height: 120px;
}
.guideline-item-housing,
.guideline-item-food,
.guideline-item-souvenirs {
  padding-top: 100px;
  padding-bottom: 30px;
  position: relative;
  background-color: #ffffff;
}
.guideline-item-housing::before {
  content: "";
  position: absolute;
  top:60px;
  left:50%;
  margin: -37px;
  width: 75px;
  height: 75px;
  
  background-color: white;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.guideline-item-food::before {
  content: "";
  position: absolute;
  top:60px;
  left:50%;
  margin: -37px;
  width: 75px;
  height: 75px;
  
  background-color: white;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.guideline-item-souvenirs::before {
  content: "";
  position: absolute;
  top:60px;
  left:50%;
  margin: -37px;
  width: 75px;
  height: 75px;
  
  background-color: white;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.guideline-item h4 {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}
.search-hotels {
  text-align: center;
  min-height: 291px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-hotel-search {
  margin: 0 auto;
  max-width: 500px;
  padding: 52px;
}
.search b {
  font-size: 30px;
  font-weight: bold;
  color: #000000;
}
.hotel-search-button {
  flex-basis: 100%;
  display: inline-block;
  padding: 10px 30px;
  font: inherit;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  transition: all 0.10s linear;
 
  background-color: #81b3d2;
  border: none;
}
.hotel-search-button:hover,
.hotel-search-button:focus {
  background-color: #669ec0;
}
.hotel-search-button:active {
  background-color: #5496bd;
  color:rgba(255, 255, 255, 0.3);
}
.search-button {
  font-size: 21px;
  line-height: 26px;
  transition: all 0.10s linear;
  max-width: 576px;
  padding: 30px 140px;

  background-color: #766357;
}
.search-button:hover,
.search-button:focus {
  background-color: #604e43;
}
.search-button:active {
  background-color: #503e33;
  color:rgba(255, 255, 255, 0.3);
}
.search-option {
  color: #000000;
  line-height: 26px;
  font-weight: bold; 
}
.search-option input {
  font: inherit;
  color: #000000;
  transition: all 0.10s linear;
  outline: none;
  background-color: #f2f2f2;
  height: 40px;
}
.search-option input:hover {
  background-color: #ebebeb;
}
.search-option input:focus {
  background-color: #ffffff;
  border: 2px solid #ebebeb;
}
.search-button-submit {
  width: 100%;
  line-height: 26px;
  font-size: 21px;
}
.map {
  position: relative;
  max-width: 1200px;
  overflow: hidden;
}
.modal-search {
  position: absolute;
  top:0;
  left:50%;
  margin-left: -288px;
  background-color: white;
  max-width: 576px;
  display: flex;
}
.hotel-search-form {
  display: flex;
  flex-wrap: wrap;
}
.hotel-search-item {
  flex-basis: 100%;
}
.hotel-search-item.half-widht {
  flex-basis: 50%;
}
.search-option-large {
  width: 460px;
  max-height: 40px;
  margin:0;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}
.search-option-small {
  min-width: 182px;
  max-height: 40px;
  margin:0;
  margin-bottom: 25px;
}
.search-option label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.search-option-large input {
  box-sizing: border-box;
  width: 346px;
  padding:10px;
  margin-left: 10px;
}
.search-option-small input {
  width: 115px;
  box-sizing: border-box;
  padding:10px 45px;
  margin-left: 30px;
} 
.search-option-large svg {
  position: absolute;
  right: 20px;
  top: 10px;
  background-color: #f2f2f2;
}
.search-option input:hover svg {
  background-color: #ebebeb;
}
.search-option input:focus svg {
  background-color: #ffffff;
}
.search-option-large svg path {
  fill: #a9a9a9;
  transition: all 0.10s linear;
}
.search-option-large input:hover ~ svg path,
.search-option-large input:focus ~ svg path {
  fill: #000000;
}
.search-option-large input:active ~ svg path {
  fill:#81b3d2;
}
.search-option-small svg {
  position: absolute;
  
  background-color: transparent;
}
.search-option-small svg {
  stroke:#a9a9a9;
}
.search-option-small .minus {
  top:14px;
  right:90px ;
}
.search-option-small .plus {
  top:14px;
  right:15px;
}
.search-option-small input:hover ~ svg,
.search-option-small input:focus ~ svg {
    stroke: #000000;
}
.search-option-small input:active ~ svg {
  stroke:#81b3d2;
}

.main-footer {
  color: #000000;
  line-height: 26px;
  background-color:rgba(250, 250,250, 0.9);
  min-height:120px;
  max-width: 1200px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
}
.main-footer strong {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
}
.footer-visit {
  display: block;
  margin: 0;
  width: 200px;
}
.footer-social {
  display: flex;
  padding: 0;
  list-style: none;
}
.footer-social li {
  background-color: #82b5d3;
  margin-right: 10px;
}
.footer-social li:last-child{
  margin-right: 0;
}
.footer-copyright {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.social-button {  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  transition: all 0.10s linear;
  font-size: 0;
}
.social-icon {
  width: 100%;
  height: 100%;
  fill: #ffffff;
  transition: all 0.10s linear;
  display: block;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.tw .social-icon {
  background-image: url('../img/twitter.svg');
  width: 17px;
  height: 15px;
}
.fb .social-icon {
  background-image: url('../img/fb-icon.svg');
  width: 12px;
  height: 22px;
}
.yt .social-icon {
  background-image: url('../img/youtube.svg');
  width: 20px;
  height: 16px;
}
.social-button:active .social-icon {
  fill: rgba(255, 255, 255, 0.3);
}
.social-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.logo-htmlacademy {
  fill: #231f20;
  transition: all 0.10s linear;
}
.logo-htmlacademy:hover,
.logo-htmlacademy:focus {
  fill: #81b3d2;
}
.logo-htmlacademy:active {
  fill: #bdbbbc;
}


.filters {
  color: #ffffff;

  background-color: #766357;
  background-image: url("../img/background-sedona.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  width: 100%;
}
.filters-form {
  display: flex;
  padding-top: 30px;
}
.filters-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px;
}
.filters fieldset {
  margin: 0;
  padding: 0 60px;
  border: none;
  min-width: 180px;
}
.filters .price-filter {
  margin-left: auto;
  padding: 0 60px;
}
.price-filter .day-price {
  margin-top: 0;
}
/* .filters fieldset:nth-child(3) {
  align-self: flex-start;
} */
.filters legend {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}
.filters ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.filters label {
  cursor: pointer;
}
.filter-option {
 margin-bottom: 20px;
}
.filter-range {
  background-color:transparent;
  font-weight: normal;
}
.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}
.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}  
.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}
.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}
.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}
.range-controls {
  position: relative;

  margin-bottom: 32px;
}
.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}
.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}
.range-toggle-max {
  left: 80%;
}
.filter-input {
  font: inherit;
  color: #ffffff;

  background-color: transparent;
}
.filter-input-checkbox:disabled {
  color: #6a6a6a;
}
.filter-button {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}
.filter-button:focus,
.filter-button:hover {
  color: #000000;
  background-color: #ffffff;
}

.sorting {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.sort {
  margin-right: auto;
  padding:20px 30px;
  min-width: 80px;
}
.sorting-order {
  min-width: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sorting-order li {
  display: inline-block;
}
.sorting-order .arrow {
  width: 11px;
  height: 10px;
  display: inline-block;
  cursor: pointer;
}
.sorting-results {
  line-height: 26px;
  font-size: 21px;
  color: #000000;
  min-width: 150px;
}
.sorting-list {
  display: flex;
  width: 100%;
  justify-content: space-between; 
  padding: 0;
  align-items: center;
}
.sorting-item {
  padding: 20px 30px;
}
.sorting-item:nth-child(3) {
  margin-right: auto;
}
.sorting-item:nth-child(4),
.sorting-item:nth-child(5) {
  padding: 30px 5px;
}
.sorting-icon {
  fill: rgba(0, 0, 0, 0.3);
  transition: all 0.10s linear;
}
.sorting-icon:hover,
.social-icon:focus {
  fill: #000000;
}
.social-icon:active,
.social-icon-current {
  fill: #81b3d2;
}
.sorting-item a {
  line-height: 18px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline dotted #81b3d2;
  transition: all 0.10s linear;
}
.sorting-item a:hover,
.sorting-item a:focus {
  color:#81b3d2;
  text-decoration: underline dotted #81b3d2;
}
.sorting-item a:active {
  color:#000000;
  text-decoration: none;
}
.sorting-item-current a {
  color: #81b3d2;
  text-decoration: none;
}

.sorting-list,
.results-list {
  list-style: none;
}
.results-list {
  display: flex;
  min-height:450px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}
.result-item {
  display: flex;
  width: 100%;
  min-height: 150px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 30px 60px;
}
.result-item img {
  display: inline-block;
}
.result-wrap {
  width: 280px;
  display:flex;
  flex-direction: column;
  margin-left:30px;
  margin-right: auto;
  padding: 0;
  align-items: flex-start;
}
.result-wrap p {
  margin: 0;
}
.rate-wrap {
  display: flex;
  flex-direction: column;
  height: 95px;
  justify-content: space-between;
  align-items: flex-end;
  min-width: 115px;
}
.stars {
  display: flex;
}
.star {
  content: "";
  width: 19px;
  height: 19px;
  margin-left: 7px;

  background-color: white;
  background-image: url("../img/star.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.button-wrapper {
  display:flex;
  margin: 0;
  justify-content: space-between;
}
.button-wrapper .left-col {
  margin-right: 15px;
}
.button-wrapper a.button {
  color:  #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  transition: all 0.10s linear;
  padding:8px 15px;
}
.button-booking {
  background-color: #766357;
}
.button-more {
  background-color: #81b3d2;
}
.button-booking:hover,  
.button-booking:focus {
  background-color: #604e43;
}
.button-booking:active {
  color: #857871;
  background-color: #503e33;
}
.button-more:hover,
.button-more:focus {
  background-color: #659cbe;
}
.button-more:active {
  color: #81b0cd;
  background-color: #5394bb;
}
.result-item p {  
  margin-bottom: 10px;
}
.result-item h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  transition: all 0.10s linear;
  padding: 0px;
  margin: 0;
  margin-bottom:10px; 
}
.result-item h3 a {
  color: inherit;
}
.result-item h3 a:hover,
.result-item h3 a:focus {
  color:#81b3d2;
}
.result-item h3 a:active {
  color: rgba(0, 0, 0, 0.3);
}
.result-item .rate {
  padding: 5px 20px;
  background-color: #f2f2f2;
  color:#666666;
  display: inline-block;
}
